#performance-profiler-dynamic {
  display: block;
  background: #fff;
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  z-index: 999;
  border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow: 0 1px 2px rgb(20 45 82 / 4%), 0 3px 4px rgb(20 45 82 / 6%), 0 5px 8px rgb(20 45 82 / 8%);
}

#performance-profiler-dynamic.open {
  max-height: 85%;
  overflow-y: auto;
}

.performance-profiler-short {
  padding-left: 5px;
}

.performance-profiler-short.open {
  padding-left: 0;
}

.performance-profiler-long {
  margin-top: 10px;
}
