.performance-profiler-long {
  background: #fff;
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow: 0 1px 2px rgb(20 45 82 / 4%), 0 3px 4px rgb(20 45 82 / 6%), 0 5px 8px rgb(20 45 82 / 8%);
}

.performance-profiler-long div {
  padding-bottom: 5px;
  white-space: nowrap;
}

.toolbar .performance-profiler-short {
  color: #545560;
}

.toolbar .performance-profiler-long a {
  z-index: 100;
  position: relative;
}

.performance-profiler-short .expand-collapse {
  display: none;
}
